*{
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #2f4573;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display:flex;

}

header nav ul li{
padding: 10px;
}

header nav ul li a{
    color: white;
    border-style: solid;
    border-color: white;
    padding: 5px 10px 5px 10px;
}

/*jumbotron*/
.jumbotron{
    background-image: url('./Ciclistafondo.PNG');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.texto-jumbotron{
    margin-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.jumbotron p{
    margin-top: 20px;
}

.btn-jumbotron{
    display: flex;
    flex-direction: column;
}

.btn-jumbotron .btn-1{
    margin-bottom: 20px;
}

.btn-jumbotron a{
    border-style: solid;
    border-color: white;
    padding: 5px 10px 5px 10px;
    color: white;
    
}

.versiones .titulo{
    color:white;
    text-align: center;
    margin-top: 10px;
}


/*precios*/


.precios{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.precio1 h2,.precio2 h2{
    margin-bottom: 5px;
    text-align: center;
}


.precio1 ul,.precio2 p{
    text-align: left;
    margin-top: 40px;
}



.precio1,.precio2{
    background-color: white;
    padding: 30px;
}

.btn-1V{
    text-align: center;
    margin-top: 250px;
}



.btn-2V{
    text-align: center;
    margin-top: 110px;
}


.btn-1V a{
    border-style: solid;
    border-color: black;
    padding: 5px 10px 5px 10px;
    color: black;

}



.btn-2V a{
    border-style: solid;
    border-color: black;
    padding: 5px 10px 5px 10px;
    background-color: #2f4573;
    color: white;

}


